.container {
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bg-img{
  object-fit: cover;
}
.gradient-filter{
  background: rgb(85,85,222);
  background: linear-gradient(27deg, rgba(85,85,222,1) 0%, rgba(255,255,255,0.7848389355742297) 39%, rgba(250,171,92,1) 100%);
  position: relative;

}
.blue-filter{
  background-color: #01013fe1;
  position: relative;
}
