.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawer-logo{
    background-color: #01013F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

@media (max-width: 600px) {
    .nav-logo{
        width: 100%;
        padding-right: 50px;
    }
}