.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
.nav-logo{
    display: flex;
    padding-left: 40px;
    align-items: center;
    background-color: #3535FF;
    width: 40%;
    height: 110px;
    transform: skew(-30deg);
    margin-left: -40px;
    padding-right: 0px;
    padding-left: 80px;
}
.nav-img{
    transform: skew(30deg);
}
.drawer-img{
    margin-left: 40px;
}
.drawer-logo{
    background-color: #3535FF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.drawer-link{
    text-transform: uppercase;
    /* font-family: 'futura-medium'; */
}
.nav-txt{
    font-weight: 10px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
    .nav-logo{
        display: none;
    }
}