.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}
.drawer-logo{
    background-color: #01013F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.drawer-link{
    color: #01013F;
    text-transform: uppercase;
    /* font-family: 'futura-medium'; */
}
.nav-txt{
    font-weight: 10px;
    font-size: 16px;
    color: white;
}
.parallelogram{
    background: #F8841C;
    transform: skew(-30deg);
    margin-right: -40px;
    display: flex;
    padding-right: 40px;
    padding-left: 20px;
    margin-left: 30px;
    width: 70%;
}

@media (max-width: 600px) {
    .nav-logo{
        width: 100%;
        padding-right: 50px;
    }
    .parallelogram{
        display: none;
    }
}