.article-content{
    min-height: 100vh;
    text-align: center;
    padding: 50px 0 50px 0;
}
.article-title{
    text-align: center;
    margin-bottom: 30px;
}
.article-title h2{
    color: #01013F;
}
.article-title h3{
    color:#F8841C;
    letter-spacing: 5px;
}
.article-card-container{
    display: flex;
    justify-content: center;
}
.article-card{
    width: 80%;
    min-height: 400px;
    height: fit-content;
    background-color: white;
    border-radius: 70px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.article-img{
    width: 350px;
    min-width: 200px;
    height: 450px;
    min-height: 300px;
    object-fit: cover;
    border-radius: 38px;
    margin-bottom: 20px;
}
.article-card p{
    text-align: start;
    margin-left: 50px;
    display: flex;
    flex: 1;
    color: black;
    min-width: 360px;
}

@media (max-width: 768px) {
    .article-card{
        padding: 25px;
    }
    .article-card p{
        margin-left: 0;
    }
}
@media (max-width: 600px) {
    .article-card p{
        min-width: 200px;
    }
    .article-img{
        min-height: 250px;
        height: 250px;
    }
}