.home{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  position: relative;
}
.home-txt{
  width: 450px;
  padding: 0 100px 0 100px;
  position: absolute;
  z-index: 10;
  background: rgb(0,0,124);
  background: linear-gradient(90deg, rgba(0,0,124,0.7792366946778712) 0%, rgba(255,255,255,0) 100%);
  color: white;
  height: 800px;
  width: 70%;
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: start;
}
.home-txt h1{
  /* margin-left: 30px; */
  font-size: 45px;
  width: 80%;
}
.home-txt p{
  margin-left: 50px;
  font-size: 22px;
  width: 55%;
}
.home-txt h6{
  margin-top:20px;
  text-align: center;
}

/* BBS VALUES */
.values{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.value{
  width: 300px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* PORTOFOLIO */
.portofolio{
  margin:0 20px 0 20px;
}
.portofolio-txt{
  margin-left: 50%;
  padding-top: 40px;
  /* font-size: 30px; */
}

/* SERVICE */
.services{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.service{
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
}


/* OUR CLIENTS */
.clients{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  overflow-x:auto;
  padding-right: 10px;
  /* width: 100vw; */
}
.horizontal-img{
  object-fit: cover;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 300px;
}
.vertical-img{
  object-fit: cover;
  object-position: 50% 0px;
  margin-left: 10px;
  /* margin-right: 10px; */
  align-self: center;
  min-width: 230;
}

/* FOOTER */
.footer-sections{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px 0 20px;
  background-color: #020251;
  color: white;
  padding-bottom: 50px;
}
/* .titles{
  background-color: #01013F;
} */
/* .footer-section{
  min-width:200px;
} */
.footer-section{
  min-width:300px;
  max-width: 300px;
}
.footer-section p{
  margin-bottom: 10px;
  font-size: 15px;
}
.footer-section-title{
  text-align: center;
  background-color:#01013F ;
}
.social-media{
  display: flex;
  align-items: center;
}
.copyright{
  padding: 20px 0 20px 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  background-color: #020251;
  color: white;
}

.section-title{
  /* text-align: start; */
  margin-left: 150px;
  padding-top: 50px;
}

@media (max-width: 1000px) {
  .home-txt{
    width: 100%;
    /* padding-top: 100px; */
  }
 
  .home-txt p{
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .home-txt{
    width: 100%;
    padding: 20px;
  }
  .home-txt h1{
    font-size: 35px;
    width: 100%;
  }
  .home-txt p{
    font-size: 20px;
    margin-left: 0;
  }
  .home-txt h6{
    font-size: 35px;
    /* width: 100%; */
  }
  .section-title{
    text-align: center;
    margin-left: 0;
    /* margin-left: 150px; */
  }
  .portofolio-txt{
    margin-left: 0;
    text-align: center;
  }

}


